In [ ]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense
from numpy.random import randn
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [ ]:
label = ['Y']
data = pd.read_csv('train_final.csv') 
X = data.drop(columns = ['Id','Y'])
y = data[label] 


####

In [ ]:
only_zero_train = data[data['Y']== 0]
only_ones_train = data[data['Y']== 1]
n=948
X = only_ones_train.sample(n)
df = pd.concat([only_zero_train, X])    
df = df.sample(frac=1)

In [ ]:
y = df['Y'] 
real = df.drop(columns = ['Y'])

In [ ]:
X

       Y      f1  f2     f3      f4  f5  ...     f19  f20  f21  f22  f23  f24
12630  1   26390   1 1.7700  118343   1  ...  120097    1    1    1    4    1
14071  1    5044   1 1.7700  118291   1  ...  119502    1    4    1  625    1
12586  1   78319   1 1.7700  118004   2  ...  117879    1    1    1   13    1
2548   1  100002   1 1.7700  118225   1  ...  118321    1    1    1    1    1
13832  1   36385   1 1.7700  118603   1  ...  118568    1    1    1    1    1
...   ..     ...  ..    ...     ...  ..  ...     ...  ...  ...  ...  ...  ...
2713   1   42030   1 3.5400  118463   1  ...  118321    1    1    1    4    1
14552  1   73471   1 1.7700  118052   1  ...  117905    1    1    1   11    1
5566   1   25989   1 5.3100  121786   1  ...  117905    1    1    1    3    1
6052   1   17813   1 1.7700  118300   1  ...  125751    1    1    1    1    1
2083   1   39479   1 1.7700  118225   1  ...  118784    1    1    1    4    1

[948 rows x 25 columns]

In [ ]:
only_zero_train

       Y      f1  f2      f3      f4  f5  ...     f19  f20  f21  f22  f23  f24
22     0   14353   1  1.7700  118011   1  ...  119323    1    1    1   33    1
30     0   73800   1  1.7700  120141   1  ...  118747    1    1    1    1    1
46     0  111914   1  1.7700  118291   1  ...  118422    1    1    1  100    1
49     0   22393   1 10.6200  118026   1  ...  118321    1    1    1    1    1
84     0    4678   1  1.7700  118052   1  ...  118321    1    1    1    1    1
...   ..     ...  ..     ...     ...  ..  ...     ...  ...  ...  ...  ...  ...
16300  0   80660   1  1.7700  118225   1  ...  120773    1    1    1    4    1
16302  0    4672   1  3.5400  117962   1  ...  119346    1    1    1   27    1
16331  0   32641   1 10.6200  119281   1  ...  126684    1    1    1   27    1
16347  0   31975   1  1.7700  118991   1  ...  122952    1    1    1    3    1
16358  0    7542   1  7.0800  118343   1  ...  118321    1    1    1    1    1

[948 rows x 25 columns]

In [ ]:
def generate_latent_points(latent_dim, n_samples):
    x_input = randn(latent_dim * n_samples)
    x_input = x_input.reshape(n_samples, latent_dim)
    return x_input

In [ ]:
# use the generator to generate n fake examples, with class labels
def generate_fake_samples(generator, latent_dim, n_samples):
    x_input = generate_latent_points(latent_dim, n_samples)
    X = generator.predict(x_input)
    y = np.zeros((n_samples, 1))
    
    return X, y

In [ ]:
# generate n real samples with class labels; We randomly select n samples from the real data
def generate_real_samples(n):
    X = data.sample(n)
    y = np.ones((n, 1))
    return X, y

In [ ]:
feature_number = 24
def define_generator(latent_dim, n_outputs=feature_number):
    model = Sequential()
    model.add(Dense(50, activation='relu',  kernel_initializer='he_uniform', input_dim=latent_dim))
    model.add(Dense(60, activation='relu'))
    model.add(Dense(n_outputs, activation='linear'))
    return model

In [ ]:
generator1 = define_generator(10, feature_number)
generator1.summary()

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_33 (Dense)             (None, 50)                550
_________________________________________________________________
dense_34 (Dense)             (None, 60)                3060
_________________________________________________________________
dense_35 (Dense)             (None, 24)                1464
=================================================================
Total params: 5,074
Trainable params: 5,074
Non-trainable params: 0
_________________________________________________________________

In [ ]:
def define_discriminator(n_inputs=feature_number):
    model = Sequential()
    model.add(Dense(50, activation='relu', kernel_initializer='he_uniform', input_dim=n_inputs))
    model.add(Dense(60, activation='relu'))
    model.add(Dense(1, activation='sigmoid'))
    # compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    
    return model

In [ ]:
discriminator1 = define_discriminator(9)
discriminator1.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_39 (Dense)             (None, 50)                500
_________________________________________________________________
dense_40 (Dense)             (None, 60)                3060
_________________________________________________________________
dense_41 (Dense)             (None, 1)                 61
=================================================================
Total params: 3,621
Trainable params: 3,621
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# define the combined generator and discriminator model, for updating the generator
def define_gan(generator, discriminator):
    # make weights in the discriminator not trainable
    discriminator.trainable = False
    model = Sequential()
    # add generator
    model.add(generator)
    # add the discriminator
    model.add(discriminator)
    # compile model
    model.compile(loss='binary_crossentropy', optimizer='adam')
    return model

In [ ]:
# create a line plot of loss for the gan and save to file
def plot_history(d_hist, g_hist):
    # plot loss
    plt.subplot(1, 1, 1)
    plt.plot(d_hist, label='d')
    plt.plot(g_hist, label='gen')
    plt.show()
    plt.close()

In [ ]:
# train the generator and discriminator
def train(g_model, d_model, gan_model, latent_dim, n_epochs=10000, n_batch=128, n_eval=200):
    # determine half the size of one batch, for updating the  discriminator
    half_batch = int(n_batch / 2)
    d_history = []
    g_history = []
    # manually enumerate epochs
    for epoch in range(n_epochs):
    
      # prepare real samples
      x_real, y_real = generate_real_samples(half_batch)
      # prepare fake examples
      x_fake, y_fake = generate_fake_samples(g_model, latent_dim, half_batch)
      # update discriminator
      d_loss_real, d_real_acc = d_model.train_on_batch(x_real, y_real)
      d_loss_fake, d_fake_acc = d_model.train_on_batch(x_fake, y_fake)
      d_loss = 0.5 * np.add(d_loss_real, d_loss_fake)
      # prepare points in latent space as input for the generator
      x_gan = generate_latent_points(latent_dim, n_batch)
      # create inverted labels for the fake samples
      y_gan = np.ones((n_batch, 1))
      # update the generator via the discriminator's error
      g_loss_fake = gan_model.train_on_batch(x_gan, y_gan)
      print('>%d, d1=%.3f, d2=%.3f d=%.3f g=%.3f' % (epoch+1, d_loss_real, d_loss_fake, d_loss,  g_loss_fake))
      d_history.append(d_loss)
      g_history.append(g_loss_fake)
    plot_history(d_history, g_history)
    g_model.save('trained_generated_model.h5')

In [ ]:
pip install tabgan

Collecting tabgan
  Downloading tabgan-1.1.0-py2.py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 1.6 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabgan) (1.19.5)
Collecting category-encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 362 kB/s
Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (from tabgan) (2.2.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from tabgan) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from tabgan) (4.62.3)
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from tabgan) (0.10.0+cu111)
Requirement already satisfied: torch in /usr/local/lib/python3.7/dist-packages (from tabgan) (1.9.0+cu111)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from tabgan) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from tabgan) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders->tabgan) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders->tabgan) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders->tabgan) (0.10.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->tabgan) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category-encoders->tabgan) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->tabgan) (1.0.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch->tabgan) (3.7.4.3)
Requirement already satisfied: pillow>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->tabgan) (7.1.2)
Installing collected packages: category-encoders, tabgan
Successfully installed category-encoders-2.3.0 tabgan-1.1.0

In [ ]:
from tabgan.sampler import OriginalGenerator, GANGenerator
import pandas as pd
import numpy as np
label = ['Y']
data = pd.read_csv('train_final.csv') 
data.drop(columns = ['Id'], inplace=True)
test = pd.read_csv('test_final.csv') 
test.drop(columns = ['Id'], inplace=True)

train = data.drop(columns = ['Y'])
target = data[label]
new_train1, new_target1 = OriginalGenerator().generate_data_pipe(train, target, test)

In [ ]:
test

           f1  f2     f3      f4  f5  f6  ...     f19  f20  f21  f22  f23  f24
0       37733   1   1.77  118603   1   0  ...  117885    1    1    1    1    1
1      312129   1   3.54  118052   1   0  ...  118321    1    1    1    7    1
2       24884   1  23.01  118300   1   0  ...  128230    1    1    1   14    1
3        4674   1   1.77  119091   1   0  ...  117905    1    1    1   81    1
4       68725   1   3.54  118300   1   0  ...  118636    1    1    1    1    1
...       ...  ..    ...     ...  ..  ..  ...     ...  ...  ...  ...  ...  ...
16380     971   1   1.77  118300   1   0  ...  120344    1    1    1   44    1
16381  105802   1   1.77  118327   1   0  ...  118321    1    1    1    4    1
16382   43096   1   3.54  117962   1   0  ...  118368    1    1    1    1    1
16383   31220   1   1.77  118386   1   0  ...  118321    1    1    1    2    2
16384   41642   1   3.54  118052   1   0  ...  117905    1    1    1    1    1

[16385 rows x 24 columns]

In [ ]:
new_train1

          f1  f2     f3      f4  f5  f6  ...     f19  f20  f21  f22    f23  f24
0      45443   1   1.77  118327   1   0  ...  179731    1    1    1   4586    3
1      45443   1   1.77  118327   1   0  ...  179731    1    1    1   4586    3
2      79091   1  26.55  118052   1   0  ...  117905    1    1    1  35369    1
3      79091   1  26.55  118052   1   0  ...  117905    1    1    1  35369    1
4      79091   1  26.55  118052   1   0  ...  117905    1    1    1  35369    1
...      ...  ..    ...     ...  ..  ..  ...     ...  ...  ...  ...    ...  ...
47958  33247   1  53.10  118052   1   0  ...  123737    1    1    1      1    1
47959  33247   1  53.10  118052   1   0  ...  123737    1    1    1      1    1
47960  33247   1  53.10  118052   1   0  ...  123737    1    1    1      1    1
47961  20280   1   3.54  118011   1   0  ...  179731    1    1    1      3    1
47962  20280   1   3.54  118011   1   0  ...  179731    1    1    1      3    1

[47963 rows x 24 columns]

In [ ]:
train

          f1  f2     f3      f4  f5  f6  ...     f19  f20  f21  f22  f23  f24
0      25884   1  33.63  118596   1   0  ...  121372    1    1    1    2    1
1      34346   1  10.62  118041   1   0  ...  259173    1    1    1    1    1
2      34923   1   1.77  118327   1   0  ...  118784    1    1    1    1    1
3      80926   1  30.09  118300   1   0  ...  307024    1    1    1    2    1
4       4674   1   1.77  119921   1   0  ...  128230    1    1    1  620    1
...      ...  ..    ...     ...  ..  ..  ...     ...  ...  ...  ...  ...  ...
16378  33328   1   1.77  118343   1   0  ...  118321    1    1    1    1    1
16379  19944   1   1.77  118225   1   0  ...  132096    1    1    1    8    1
16380  28359   1   3.54  118327   1   0  ...  132692    1    2    1    1    1
16381   7542   1   3.54  118343   1   0  ...  118784    1    1    1   12    1
16382  13877   1   1.77  118220   1   0  ...  117879    1    1    1    2    1

[16383 rows x 24 columns]

In [ ]:
new_target1

0        1
1        1
2        1
3        1
4        1
        ..
47958    1
47959    1
47960    1
47961    1
47962    1
Name: Y, Length: 47963, dtype: int64

In [ ]:
!pip install table_evaluator

Collecting table_evaluator
  Downloading table-evaluator-1.2.2.post1.tar.gz (18 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (1.19.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (4.62.3)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (5.4.8)
Collecting dython==0.5.1
  Downloading dython-0.5.1-py3-none-any.whl (14 kB)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (0.11.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (3.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (0.22.2.post1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (1.4.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->table_evaluator) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->table_evaluator) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->table_evaluator) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->table_evaluator) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->table_evaluator) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->table_evaluator) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->table_evaluator) (1.0.1)
Building wheels for collected packages: table-evaluator
  Building wheel for table-evaluator (setup.py) ... done
  Created wheel for table-evaluator: filename=table_evaluator-1.2.2.post1-py3-none-any.whl size=17051 sha256=f7ff7b98b27324f59b598a0f9eeb2eb0dd7f44a017b77efe8b46b9e7ffd6d61a
  Stored in directory: /root/.cache/pip/wheels/45/c7/20/47a3f8b044d705f3c088d9577968a805dded4b83096fabd2ac
Successfully built table-evaluator
Installing collected packages: dython, table-evaluator
Successfully installed dython-0.5.1 table-evaluator-1.2.2.post1

In [ ]:
from table_evaluator import load_data, TableEvaluator

new_train1['Y'] = new_target1
train['Y'] = target
table_evaluator = TableEvaluator(train, new_train1)
table_evaluator.evaluate(target_col='Y')

Correlation metric: pearsonr

Classifier F1-scores and their Jaccard similarities:
                                     f1_real  f1_fake  jaccard_similarity
index
LogisticRegression_real_testset       0.9384   0.9384              1.0000
LogisticRegression_fake_testset       0.9417   0.9417              1.0000
RandomForestClassifier_real_testset   0.9457   0.9747              0.9322
RandomForestClassifier_fake_testset   0.9829   0.9756              0.9454
DecisionTreeClassifier_real_testset   0.9258   0.9625              0.8635
DecisionTreeClassifier_fake_testset   0.9844   0.9704              0.9293
MLPClassifier_real_testset            0.8959   0.9384              0.9052
MLPClassifier_fake_testset            0.9051   0.9423              0.9136

Miscellaneous results:
                                             Result
Column Correlation Distance RMSE             0.0110
Column Correlation distance MAE              0.0079
Duplicate rows between sets (real/fake)  (0, 10528)
nearest neighbor mean                        0.7096
nearest neighbor std                         1.5547

Results:
                                                Result
Basic statistics                                0.9903
Correlation column correlations                 0.8877
Mean Correlation between fake and real columns  0.9110
1 - MAPE Estimator results                      0.9775
Similarity Score                                0.9416

{'1 - MAPE Estimator results': 0.9774508491788314,
 'Basic statistics': 0.9902983235454998,
 'Correlation column correlations': 0.8877154417542508,
 'Mean Correlation between fake and real columns': 0.9110331252662667,
 'Similarity Score': 0.9416244349362122}

In [ ]:
# size of the latent space
latent_dim = 10
# create the discriminator
discriminator = define_discriminator()
# create the generator
generator = define_generator(latent_dim)
# create the gan
gan_model = define_gan(generator, discriminator)
# train model
train(generator, discriminator, gan_model, latent_dim)

ValueError: ignored

In [ ]:
from keras.models import load_model
model =load_model('/content/trained_generated_model')

OSError: ignored

In [ ]:
latent_points = generate_latent_points(10, 750)
X = model.predict(latent_points)
data_fake = pd.DataFrame(data=X,  columns=['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'])
data_fake.head()

In [ ]:
!pip install table_evaluator

In [ ]:
from table_evaluator import load_data, TableEvaluator
table_evaluator = TableEvaluator(data, data_fake)
table_evaluator.evaluate(target_col='Outcome')

In [ ]:
table_evaluator.visual_evaluation()